@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

inter roboto Montserrat :root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@layer base {
  * {
    outline: none;
  }
  body {
    /* background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center; */

    @apply text-purpleDark-1 dark:text-mauveDark-11;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .cards-details-container {
    @apply my-2 rounded-sm border border-purple-9 p-4 dark:border-none dark:bg-mauveDark-3/75;
  }
  .cards-details-title {
    @apply font-montserrat text-xs font-bold uppercase text-purpleDark-9 dark:text-mauveDark-11;
  }

  .cards-text {
    @apply font-montserrat text-sm text-mauveDark-1 dark:text-mauveDark-12;
  }

  .colorTheme {
    @apply border-purpleDark-1 bg-mauve-1 text-purpleDark-1 dark:border-mauveDark-7 dark:bg-mauveDark-1 dark:text-mauve-1;
  }
}
